<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit User</h1>
    
</div>

<div class="container">
  <form [formGroup]="userFormData" (ngSubmit)="editFormData()">
    <div class="row">
    
         <div class="col-lg-6">
             <div class="col-lg-12">
                 <label for="">User Name</label>
               <input [ngClass]="{'form-error':!userFormData.get('username').valid && userFormData.get('username').dirty,
               'form-success':!userFormData.get('username').valid && userFormData.get('username').dirty}"   type="text" name='username' formControlName="username" class="form-control"> 
               <span *ngIf="!userFormData.get('username').valid && userFormData.get('username').dirty"  style="color:red">Username should be above 3 character or below 10 characters</span> 
             </div>
             <div class="col-lg-12">
                 <label for="">Email</label>
               <input [ngClass]="{'form-error':!userFormData.get('email').valid && userFormData.get('email').dirty,
               'form-success':!userFormData.get('email').valid && userFormData.get('email').dirty}" type="text" formControlName="email" class="form-control">  
               <span *ngIf="!userFormData.get('email').valid  && userFormData.get('email').dirty"           style="color:red">Enter valid email</span>
             </div>
             <div class="col-lg-12">
               <div class="row">
               <label for="">Phone No </label>
                <div class="col-lg-2">
                  <select formControlName="countrycode" class="form-control">
                      <option value="91">+91</option>
                      <option value="92">+92</option>
                  </select>
                  
                 </div>
                <div class="col-lg-10">
             
              <input type="number" formControlName="phoneno" class="form-control">  
             
            </div>
            <span *ngIf="!userFormData.get('phoneno').valid && userFormData.get('phoneno').dirty"    style="color:red">Enter valid phoneno</span>
              </div>
             </div>
              </div>
         <div class="col-lg-6">
          <div class="col-lg-12">
            <label for="">Country </label>
         <select  formControlName="country" class="form-control">
           <option value="IN">India</option>
           <option value="US"> United States of America</option>
           <option value="CH">China</option>

         </select>
        </div>
        <div class="col-lg-12">
          <label for="">States </label>
       <select formControlName="state" class="form-control">
         <option value="TN">TamilNadu</option>
         <option value="BG">Bengalore</option>
         <option value="MB">Mumbai</option>

       </select>
       </div>

       <div class="col-lg-12">
        <label for="">City</label>
     <select formControlName="city" class="form-control">
       <option value="CH">Chennai</option>
       <option value="MD">Madhuari</option>
       <option value="TJ">Thanjavur</option>

     </select>

       </div>
        </div>
     
       
         <div class="row mt-3">
           <label for="">skills</label>
           <div formArrayName="skills"   class="col-lg-12">
             <div class="row" [formGroupName]="i" *ngFor="let skill of userFormData.get('skills').controls;let i=index">
             <div class="col-lg-6">
              <input type="text" formControlName="skilname" class="form-control">
             </div>
             <div class="col-lg-6">
              <input type="text" formControlName="rating" class="form-control">  
            </div>
             </div>
           </div>
           
          </div>
         <div class="row">
          <div class="col-lg-12 mt-3">
      
            <div class="col-lg-12">
             <input type="submit" [disabled]="(!userFormData.valid || isposting )" [value]="isposting? 'Loading...' : 'submit'" class="btn btn-primary btn-sm">
            </div>
         
          </div>
            </div>
         </div>
  </form>
  <pre>
    {{userFormData.valid}}
  </pre>
        </div>
